* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #202124;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 50px;
    margin:05px 17.5px 15px 10px;
}

header .extras {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    margin-right: 05px;
}

header .extras a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

header .user-apps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

header .header-item {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  ;
  color: #fff;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #5f6368;
    width: 584px;
    height: 48px;
    border-radius: 25px;
    padding: 0px 10px;
    margin-bottom: 25px;
}

.search-item,
.alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-item {
    gap: 10px;
}

#glass,
#key,
#imgs {
    color: #9aa0a6;
}

.search-item #search-input {
    background-color: #202124;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 443px;
    height: 27px;
}

.search-item #search-input:focus-visible {
    outline: none;
}

.alt {
    gap: 20px;
    padding-right: 05px;
    margin-top: 03px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
}

.buttons .submit {
    border: none;
    height: 40px;
    width: 140px;
    background-color: #303134;
    color: #fff;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 94px;
    width: 100%;
    color: #9aa0a6;
    background-color: #171717;
    font-size: 15px;
}

.country {
    border-bottom: 1px solid #3c4043;
    padding: 15px 30px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.infos .info-google {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 456px;
}

.infos .info-google a {
    text-decoration: none;
    font-size: 14px;
    color: #9aa0a6;
}

.infos .info-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.infos .info-user a {
    text-decoration: none;
    font-size: 14px;
    color: #9aa0a6;
}

.infos .info-google 
.info-google-item {
    padding: 15px;
}

.infos .info-user 
.info-google-user {
    padding: 15px;
}

@media (max-width: 767px) {

    .extras,
    .extras a, .user-apps,
    .header-item {
        display: none;
    }

    .logo {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        max-width:200px;
        max-height:150px;
        width: auto;
        height: auto;
    }

    .search {
        max-width:315px;
        max-height:300px;
        width: auto;
        height: auto;
    }

    .search-item {
        max-width:295px;
        max-height:300px;
        width: auto;
        height: auto;
    }

    .alt {
        display: none;
    }

    footer {
        position: fixed;
        bottom: 0;
        height: 50px;
    }
    
    .country {
        font-size: 12px;
        padding: 15px 30px;
    }
    
    .infos {
        display: none;
    }
    
}